<h1>UK Accident Datasets</h1>
<h2>Analyst: Janelle Kaye Borabo</h2>
<hr>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib as plt

In [2]:
uk_accdt= pd.read_csv('datasets\\uk_accident_data.csv')

In [3]:
uk_accdt

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05/06/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02/07/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26/08/2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16/08/2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03/09/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18/02/2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21/02/2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23/02/2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23/02/2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28/02/2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
uk_accdt.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [5]:
uk_accdt.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [6]:
uk_accdt['Latitude']=uk_accdt['Latitude'].fillna(uk_accdt['Latitude'].mean())
uk_accdt['Longitude']=uk_accdt['Longitude'].fillna(uk_accdt['Longitude'].mean())
uk_accdt['Road_Surface_Conditions']=uk_accdt['Road_Surface_Conditions'].fillna(uk_accdt['Road_Surface_Conditions'].mode()[0])
uk_accdt['Road_Type']=uk_accdt['Road_Type'].fillna(uk_accdt['Road_Type'].mode()[0])
uk_accdt['Urban_or_Rural_Area']=uk_accdt['Urban_or_Rural_Area'].fillna(uk_accdt['Urban_or_Rural_Area'].mode()[0])
uk_accdt['Weather_Conditions']=uk_accdt['Weather_Conditions'].fillna(uk_accdt['Weather_Conditions'].mode()[0])


uk_accdt.dtypes
uk_accdt.isnull().sum()

uk_accdt['Year'] = uk_accdt['Accident Date'].dt.year
uk_accdt['Month'] =  uk_accdt['Accident Date'].dt.month
uk_accdt['Day'] =  uk_accdt['Accident Date'].dt.day
uk_accdt['DayOfWeek'] =  uk_accdt['Accident Date'].dt.dayofweek
uk_accdt.isnull().sum()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
uk_accdt.isnull().sum()

In [ ]:
uk_accdt.info()

In [ ]:
# uk_accdt['Index']=uk_accdt['Index'].astype('category')
# uk_accdt['Accident_Severity']=uk_accdt['Accident_Severity'].astype('category')
# uk_accdt['Accident Date']=uk_accdt['Accident Date'].astype('category')
# uk_accdt['Light_Conditions']=uk_accdt['Light_Conditions'].astype('category')
# uk_accdt['District Area']=uk_accdt['District Area'].astype('category')
# uk_accdt['Road_Surface_Conditions']=uk_accdt['Road_Surface_Conditions'].astype('category')
# uk_accdt['Road_Type']=uk_accdt['Road_Type'].astype('category')
# uk_accdt['Urban_or_Rural_Area']=uk_accdt['Urban_or_Rural_Area'].astype('category')
# uk_accdt['Weather_Conditions']=uk_accdt['Weather_Conditions'].astype('category')
# uk_accdt['Vehicle_Type']=uk_accdt['Vehicle_Type'].astype('category')

In [ ]:
uk_accdt.info()

<h1>Activity 2 UK Accident Questions</h1>
<hr>

<h1>1. Which type of vehicle has the most Serious accidents? </h1>

In [ ]:
ser = uk_accdt[uk_accdt['Accident_Severity'] == 'Serious']

In [ ]:
ser['Vehicle_Type'].value_counts()

<h2>Insight No.1</h2>
<h3>The car has the most number of serious accidents with 66461 accidents.</h3>

<h1>2. Which weather was the road surface has the most fatal accidents?</h1>
<hr>

In [ ]:
fatal = uk_accdt[uk_accdt['Accident_Severity'] == 'Fatal']

In [ ]:
weat = fatal.groupby(['Weather_Conditions','Road_Surface_Conditions']).size()

In [ ]:
weat

<h2>Insight No.2</h2>
<h3>Fine no high winds, and Dry road surface has the most fatal accidents.</h3>

<h1>3. Is there a correlation between Number of Casualties and Number of Vehicles?</h1>
<hr>

In [ ]:
uk_accdt['Number_of_Casualties'].corr(uk_accdt['Number_of_Vehicles'])

<h2>Insight No.3</h2>
<h3>There is no correlation between Number of Casualties and Number of Vehicles.</h3>

<h1>4. Which year has the most accidents in the Urban Area?</h1>
<hr>|

In [ ]:
urban = uk_accdt[uk_accdt['Urban_or_Rural_Area'] == 'Urban']

In [ ]:
urban['Accident Date'].value_counts()

<h2>Insight no.4</h2>
<h3> The year 2021 had the most accidents in the Urban Area.</h3>

<h1>5. Which year has the most accidents in the Rural Area?</h1>
<hr>

In [ ]:
rural = uk_accdt[uk_accdt['Urban_or_Rural_Area'] == 'Rural']

In [ ]:
rural['Accident Date'].value_counts()

<h2>Insight no.5</h2>
<h3> The year 2021 had the most accidents in the Rural Area.</h3>

<h1>6. What is the number of Casualties	that have the fatal accident in Car type vechicle?</h1>
<hr>

In [ ]:
casu = uk_accdt[(uk_accdt['Accident_Severity'] == "Fatal") & (uk_accdt['Vehicle_Type'] == 'Car')]

In [ ]:
casu['Number_of_Casualties'].value_counts()

In [ ]:
casu['Number_of_Casualties'].mean()

<h2>Insight no.6</h2>
<h3> In the Car type vehicle, the number of casualties that have the most fatal accidents is 1 with 3367 fatal accidents.</h3>

<h1>7. Which type of vehicle has the most Slight accidents?</h1>
<hr>

In [ ]:
slit = uk_accdt[uk_accdt['Accident_Severity'] == 'Slight']

In [ ]:
slit['Vehicle_Type'].value_counts()

<h2>Insight no.7</h2>
<h3> The car has the most number of Slight accidents with 424954 accidents.</h3>

<h1>8. Which type of vehicle has the most Fatal accidents?</h1>
<hr>

In [ ]:
fatal = uk_accdt[uk_accdt['Accident_Severity'] == 'Fatal']

In [ ]:
fatal['Vehicle_Type'].value_counts()

<h2>Insight no.8</h2>
<h3> The car has the most number of Fatal accidents with 6577 accidents.</h3>

<h1>9. Which District Area has the most Serious Accidents in Dry Road Surface Conditions?</h1>
<hr>

In [ ]:
drt=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Serious') & (uk_accdt['Road_Surface_Conditions'] == 'Dry')]

In [ ]:
drt['District Area'].value_counts()

<h2>Insight no.9</h2>
<h3> The District Area of Birmingham has the largest number of Serious accidents in Dry Road Surface Conditions, with 1053 accidents.</h3>

<h1>10. Which District Area has the most Fatal Accidents in Wet or Damp Road Surface Conditions?</h1>
<hr>

In [ ]:
frt=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Fatal') & (uk_accdt['Road_Surface_Conditions'] == 'Wet or damp')]

In [ ]:
frt['District Area'].value_counts()

<h2>Insight no.10</h2>
<h3> The District Area of Highland has the largest number of Fatal accidents in Wet or Damp Road Surface Conditions, with 40 accidents.</h3>

<h1>11. Which year has the most Slight Accidents in the District Area of Highland with Dry Road Surface Conditions?</h1>
<hr>

In [ ]:
frtye=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Slight') & (uk_accdt['Road_Surface_Conditions'] == 'Dry') & (uk_accdt['District Area'] == 'Highland')]

In [ ]:
frtye['Accident Date'].value_counts()

<h2>Insight no.11</h2>
<h3> The year 2019 had the most slight accidents in the District Area of Highland with Dry Road Surface Conditions, with 5 accidents.</h3>

<h1>12. Which year has the most Serious Accidents in the District Area of Kensington and Chelsea with Frost or ice Road Surface Conditions?</h1>
<hr>

In [ ]:
srtye=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Serious') & (uk_accdt['Road_Surface_Conditions'] == 'Frost or ice') & (uk_accdt['District Area'] == 'Kensington and Chelsea')]

In [ ]:
srtye['Accident Date'].value_counts()

<h2>Insight no.12</h2>
<h3> The year 2021 had the most serious accidents in the District Area of Kensington and Chelsea with Frost or ice Road Surface Conditions, with 1 accidents.</h3>

<h1>13. Which Light Conditions has the most Fatal Accidents using the Car type Vehicle?</h1>
<hr>

In [ ]:
licar=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Fatal') & (uk_accdt['Vehicle_Type'] == 'Car')]

In [ ]:
licar['Light_Conditions'].value_counts()

<h2>Insight no.13</h2>
<h3> The Daylight had the most number of Fatal Accidents with 3876 accidents, using Car type Vehicle?.</h3>

<h1>14. Which Light Conditions has the most Fatal Accidents using the car-type Vehicle in Urban areas?</h1>
<hr>

In [ ]:
liurcar=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Fatal') & (uk_accdt['Vehicle_Type'] == 'Car') & (uk_accdt['Urban_or_Rural_Area'] == 'Urban')]

In [ ]:
liurcar['Light_Conditions'].value_counts()

<h2>Insight no.14</h2>
<h3> The Daylight had the largest number of Fatal Accidents with 1284 accidents, using the Car type Vehicle in the Urban Area? </h3>

<h1>15. Which Number of Vehicles has the most Serious Accidents in Darkness light Conditions in the Birmingham District Area?</h1>
<hr>

In [ ]:
dar=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Serious') & (uk_accdt['District Area'] == 'Birmingham') & (uk_accdt['Light_Conditions'] == 'Darkness - no lighting')]

In [ ]:
dar['Number_of_Vehicles'].value_counts()

<h2>Insight no.15</h2>
<h3> In the Number of Vehicles, the 1 had the largest number of Serious Accidents in Darkness light Conditions in the Birmingham District Area, with 4 accidents. </h3>

<h1>16. Which Number of Vehicles has the most Slight Accidents in Daylight Conditions in the Bradford District Area?</h1>
<hr>

In [ ]:
darli=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Slight') & (uk_accdt['District Area'] == 'Bradford') & (uk_accdt['Light_Conditions'] == 'Daylight')]

In [ ]:
darli['Number_of_Vehicles'].value_counts()

<h2>Insight no.16</h2>
<h3> In the Number of Vehicles, the 2 had the largest number of Serious Accidents in Daylight Conditions in the Bradford District Area, with 2381 accidents. </h3>

<h1>17. Which Weather Conditions has the most Slight Accidents in Dry Road Surface Conditions, with only 1 Number of Casualties?</h1>
<hr>

In [ ]:
waet=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Slight') & (uk_accdt['Number_of_Casualties'] == 1) & (uk_accdt['Road_Surface_Conditions'] == 'Dry')]

In [ ]:
waet['Weather_Conditions'].value_counts()

<h2>Insight no.17</h2>
<h3> The Fine no high winds had the most Slight Accidents in Dry Road Surface Conditions, with only 1 Number of Casualties and had 292933 accidents. </h3>

<h1>18. Which Weather Conditions has the most Fatal Accidents in Snowy Road Surface Conditions in the District Area of Highland?</h1>
<hr>

In [ ]:
hig=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Fatal') & (uk_accdt['Road_Surface_Conditions'] == 'Snow') & (uk_accdt['District Area'] == 'Highland')]

In [ ]:
hig['Weather_Conditions'].value_counts()

<h2>Insight no.18</h2>
<h3> The Snowing no high winds, had the most Fatal Accidents in Snowy Road Surface Conditions, with only 1 accident in the District Area of Highland. </h3>

<h1>19. Which Road Type has the most Serious Accidents in Rural Area Conditions in Van Type Vehicle?</h1>
<hr>

In [ ]:
van=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Serious') & (uk_accdt['Urban_or_Rural_Area'] == 'Rural') & (uk_accdt['Vehicle_Type'] == 'Van / Goods 3.5 tonnes mgw or under')]

In [ ]:
van['Road_Type'].value_counts()

<h2>Insight no.19</h2>
<h3> The Single carriageway had the most Serious Accidents in the Rural Area, with only 1451 accident using Van type vehicle. </h3>

<h1>20. Which Road Type has the most Fatal Accidents in Urban Area Conditions in Van Type Vehicle?</h1>
<hr>

In [ ]:
vanni=  uk_accdt[(uk_accdt['Accident_Severity'] == 'Fatal') & (uk_accdt['Urban_or_Rural_Area'] == 'Urban') & (uk_accdt['Vehicle_Type'] == 'Van / Goods 3.5 tonnes mgw or under')]

In [ ]:
vanni['Road_Type'].value_counts()

<h2>Insight no.20</h2>
<h3> The Single carriageway had the most Fatal Accidents in the Urban Area, with only 114 accident using Van type vehicle. </h3>

In [ ]:
uk_accdt["Accident Date"] = pd.to_datetime(uk_accdt["Accident Date"], dayfirst=True, errors="coerce")
import matplotlib.pyplot as plt

<h1>21. Are accidents increasing or decreasing over the years?</h1>

In [ ]:
uk_accdt["Accident Date"] = pd.to_datetime(uk_accdt["Accident Date"], dayfirst=True, errors="coerce")
uk_accdt.groupby(uk_accdt["Accident Date"].dt.to_period("M")).size().plot()
plt.title("Trend of Accidents Over Time")
plt.xlabel("Date (Month-Year)")
plt.ylabel("Number of Accidents")
plt.xticks(rotation=45)
plt.show()

<H1>Insights shows yes but sometimes suddenly spikes</H1>

<h1>22.Do serious accidents result in more casualties on average?</h1>

In [ ]:
# 2. Casualties per Accident Severity
uk_accdt.groupby("Accident_Severity")["Number_of_Casualties"].mean().plot(kind="bar", color="orange")
plt.title("Average Number of Casualties per Severity")
plt.ylabel("Average Casualties")
plt.xlabel("Accident Severity")
plt.show()

<h1>insights shows yes!</h1>

<h1>23. Are accidents more common in daylight or darkness?</h1>

In [ ]:
uk_accdt["Light_Conditions"].value_counts().plot(kind="bar", color="skyblue")
plt.title("Accidents by Light Conditions")
plt.ylabel("Number of Accidents")
plt.xlabel("Light Condition")
plt.xticks(rotation=30, ha="right")
plt.show()

<h1>Insights shows how dominant daylight accident is</h1>

<h1>24.Do hazardous conditions lead to more accidents?</h1>

In [ ]:
uk_accdt["Road_Surface_Conditions"].value_counts().plot(kind="bar", color="green")
plt.title("Accidents by Road Surface Conditions")
plt.ylabel("Number of Accidents")
plt.xlabel("Road Condition")
plt.xticks(rotation=30, ha="right")
plt.show()

<h1>Insights surprisingly shows no</h1>

<h1>25. Which district has the most accident?</h1>

In [ ]:
uk_accdt["District Area"].value_counts().head(10).plot(kind="barh", color="purple")
plt.title("Top 10 Districts with Most Accidents")
plt.xlabel("Number of Accidents")
plt.ylabel("District Area")
plt.gca().invert_yaxis()
plt.show()

<h1>Insights shows that birminghan has the most accidnet</h1>

In [ ]:
import matplotlib.pyplot as plt

monthly_data = uk_accdt.groupby(['Year', 'Month']).size()
monthly_data = monthly_data.unstack(level=0)
monthly_data.plot(marker='o', figsize=(10, 5),title='Monthly Road Accidents by Year (2019-2022)')
plt.xticks(range(1, 13), ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
plt.legend(title='Year and Month Severity Comparison', bbox_to_anchor = (1.05,1), loc='upper left')
plt.grid(alpha=0.3)
plt.show()

<h1>Insight no.26</h1>
<h2>Accidents are more common in December (except for 2022). In 2019, 2020, and 2021, the number of accidents reached the highest level of the year in December.</h2>
<hr>

<h1>Insight no.27</h1>
<h2>In 2022, the number of accidents was mostly lower than in previous years. Throughout nearly every month, accident counts were below those of 2019 to 2021. This may mean there were fewer vehicles on the road.</h2>
<hr>

<h1>Insight no.27</h1>
<h2>In 2019, there were more road accidents than in any other year. The data shows that the number of accidents in 2019 was consistently higher than in 2020, 2021, and 2022. This means that 2019 had the most road accidents each month compared to those years.</h2>
<hr>

In [ ]:
area = uk_accdt['Urban_or_Rural_Area'].value_counts()

plt.pie(area,
        labels = severity_counts.index,
        autopct = '%1.1f%%',
        startangle = 90)
plt.gcf().set_size_inches(10,7)
plt.title('Area of Accidents')
plt.show()

year2022 = uk_accdt[uk_accdt['Year'] == 2022]
year2022
ny2022 = year2022['Urban_or_Rural_Area'].value_counts()

plt.pie(ny2022,
        labels = sc_2019.index,
        autopct = '%1.1f%%',
        startangle = 90)
plt.gcf().set_size_inches(10,7)
plt.title('Area of Accidents in the Year 2022')
plt.show()